button {
  height: 46px;
  width: 46px;
}

p {
  font-size: 80px;
}

body {
  background-image: url("image/machine-a-ecrire.jpg");
  background: cover;
  background-repeat: no-repeat;
}

.hide{
  visibility: hidden;
}